body{
    width: 1440px;
    margin: 0 auto;
}
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

/*HEADER*/
div.header-container{
    width: 1440px;
    height: 596px;
    background-color: #87509c;
    margin: 0 auto;
}
div.header{
    width: 1140px;
    margin: 0 auto;
}
div.nav-wrapper{
    width: 1100px;
    height: 153px;
    margin: 0 auto;
}
div.header-logo{
    padding-top: 58px;
    padding-left: 42px;
    width: 500px;
    float: left;
}
div.header-nav{
    padding-top: 70px;
    width: 558px;
    float: left;
}
div a.first-nav{
    padding:10px 17px;
    background-color: #643a79;
}
div.header-nav a{
    color: white;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    margin-left: 44px;
}
div.header-text{
    width: 1100px;
    text-align: center;
    margin: 0 auto;
    float: left;
}
div.header-text p{
    color: white;
    font-size: 35px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    padding-top: 60px;
}
div.header-buttom{
    width: 1100px;
    text-align: center;
    margin: 0 auto;
    margin-top: 60px;
    float: left;
}
div.header-buttom a.wwu{
    color: white;
    font-size: 18px;
    text-decoration: none;
    padding: 28px 81px;
    background-color: #eb7d4b;
}

/*MODAL*/
.modal-contenido a{
    font-size: 20px;
    position: absolute;
    left: 5px;
    top: 5px;
    text-decoration: none;
    color: black;
}
.modal-contenido a:hover {
    color: red;
}

h2 {
    color: white;
    font-weight: bold;
}

.modal-contenido {
    background-color: #787276;
    width:300px;
    padding: 10px 20px;
    margin: 20% auto;
    position: relative;
}

.modal {
    background-color: rgba(0,0,0,.8);
    position:fixed;
    top:0;
    right:0;
    bottom:0;
    left:0;
    opacity:0;
    pointer-events:none;
    transition: all 0s;
}

#miModal:target {
    opacity:1;
    pointer-events:auto;
}

/*MAIN CONTENT*/

div.content-container{
    width: 1440px;
    height: 747px;
    background-color: #17c2a4;
    margin:0 auto;
    float: left;
}
div.mainContent{
    width: 1140px;
    margin: 0 auto;
}
div.mainContent h2{
    color: white;
    text-align: center;
    font-size: 35px;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 89px;
}
div.mainContent p.lonelyP{
    color: white;
    font-size: 18px;
    text-align: center;
    padding: 50px 232px;
}
div.information-container{
    width: 1140px;
    margin: 0 auto;
}
.content-informationBox{
    width: 285px;
    float: left;
    text-align: center;
    margin: 0 auto;
}
.content-informationBox h3{
    color: white;
    font-size: 24px;
    font-family: Arial, Helvetica, sans-serif;
}
.content-informationBox p{
    color: white;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 27px 54px;
}

/*FOOTER*/

.footer-container{
    width: 1440px;
    height: 103px;
    background-color: #344b8e;
    float: left;
}
.footer{
    width: 1440px;
    margin: 0 auto;
    text-align: center;
    float: left;
    margin-top: 39px;
}
.footer a{
    color: white;
    font-size: 24px;
    text-decoration: none;
    padding-left: 58px;
    padding-top: 39px;
}
.footer a.lonelyA{
    color: #30bae7;
}